# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks

# Set the default handler.
DirectoryIndex index.php index.html index.htm

RewriteEngine on 

RewriteRule ^home(|/)$ ./index.php
RewriteRule ^articles/tecnologia-curativa-microbots-medicos(|/)$ ./article-1.php
RewriteRule ^articles/kepler-90i-sorprendente-sistema-estelar-descubierto-por-una-ia(|/)$ ./article-2.php
RewriteRule ^articles/lg-muestra-mundo-primer-televisor-enrollable(|/)$ ./article-3.php
RewriteRule ^articles/continuan-aumentando-los-incendios-amazonia(|/)$ ./article-4.php
RewriteRule ^articles/solo-se-usa-el-10-del-mundo-digital(|/)$ ./article-6.php
